@font-face {
  font-family: "Stolen Love";
  src: url("/fonts/Stolen Love  Black.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "New Icon";
  src: url("/fonts/new-icon-serif.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}