---
import "../styles/global.css";

import Layout from '@/layouts/page_layout.astro'
import Hero from '@/sections/collage_page.astro'
---

<Layout title="RSVP">
  <main>
  <a href="../#about-section"><Hero /></a>
  </main>
</Layout>
