---
import "../styles/global.css";

import Layout from '@/layouts/Layout.astro'
import Hero from '@/sections/Hero.astro'
import About from '@/sections/About.astro'
import Collage from '@/sections/Collage.astro'
import Projects from '@/sections/Projects.astro'
import Contact from '@/sections/Contact.astro'
---

<Layout title="Sahil and Maddy">
  <main>
    <Hero />
    <About />
    <Collage />
    <!--<Projects />-->
    <!--<Contact />-->
  </main>
</Layout>
