---
import "../styles/global.css";

import Layout from '@/layouts/page_layout.astro'
import Hero from '@/sections/registry.astro'
import accommodations_info from '@/sections/accommodations_info.astro'
---

<Layout title="registry">
  <main>
  <Hero />
  </main>
</Layout>
