---
import "../styles/global.css";

import Layout from '@/layouts/page_layout.astro'
import Hero from '@/sections/schedule.astro'
---

<Layout title="schedule">
  <main>
  <Hero />
  </main>
</Layout>
