---
import "../styles/global.css";

import Layout from '@/layouts/page_layout.astro'
import Hero from '@/sections/hero_accommodations.astro'
import accommodations_info from '@/sections/accommodations_info.astro'
---

<Layout title="travel">
  <main>
  <Hero />
  <accommodations_info />
  </main>
</Layout>
