---
import "../styles/index.css";
---
<header
  data-header
  class="fixed inset-x-2 top-[calc(50%-10vh)] text-[15vw] md:text-[10vw] leading-none text-dark-brown z-50"
>
<div class="">
  <a href='#'><h1 class="text-center font-xl md:font-medium whitespace-normal md:whitespace-nowrap">MADISON <span class="block md:inline">AUBEY</span></h1></a>
</div>
</header>

<script>
  import { gsap } from 'gsap'
  import { ScrollTrigger } from 'gsap/ScrollTrigger'
  import { DOMLoaded } from '@/ts/events'

  DOMLoaded(() => {
    gsap.registerPlugin(ScrollTrigger)
	const hero = document.querySelector('[data-hero]') as HTMLElement
    const projects = document.querySelector('[data-projects]') as HTMLElement
    const header = document.querySelector('[data-header]') as HTMLElement
    const vw = window.innerWidth
	const rect = header.getBoundingClientRect();

	const header_text = document.querySelector(".test");
	const scale = 1.85;

	const tl0 = gsap.timeline()
	tl0.set("header", {
	opacity:0
	})
	tl0.to("header", {
	opacity:1,
	duration:0.75,
	ease:"power2.out"
	})
	tl0.to("header", 
	{
	scale:scale,
	duration: 0.4,
	delay:0.,
	ease:"power2.out",
	scrub:true,
	})
	ScrollTrigger.matchMedia({

	// Desktop
	"(min-width: 1024px)": () => {
		tl0.to("header", 
		{
		y: -rect.top*0.9,
		duration: 0.6,
		ease:"power2.out",
		scrub:true,
		});
	},

	// Mobile
	"(max-width: 1023px)": () => {
		tl0.to("header", 
		{
		y: -rect.top*0.8,
		duration: 0.6,
		ease:"power2.out",
		scrub:true,
		});
	}

	});

	const tl1 = gsap.timeline()
	ScrollTrigger.matchMedia({
	// Desktop
	"(min-width: 1024px)": () => {
		tl1.to("header",
		{
		opacity:1,
		xPercent: -40,
		yPercent: -40,
		scale: 0.3,
		duration:0.5,
		ease: "power2.out",
		scrollTrigger: {
				trigger: hero,
				start: 'top top',
				end: '+=300',
				scrub: true,
			}
		})

		ScrollTrigger.create({
		trigger: hero,
		start: "middle top",
		onLeaveBack: () => {
			gsap.to("header", {
			scale: scale,
			y: -rect.top*0.9,
			duration: 0.1,
			ease:"power2.out"
			});
		}
		});
	},
	// Mobile
	"(max-width: 1023px)": () => {
		tl1.to("header",
		{
		opacity:1,
		xPercent: -40,
		yPercent: -40,
		scale: 0.3,
		duration:0.5,
		ease: "power2.out",
		scrollTrigger: {
				trigger: hero,
				start: 'top top',
				end: '+=300',
				scrub: true,
			}
		})

		ScrollTrigger.create({
		trigger: hero,
		start: "middle top",
		onLeaveBack: () => {
			gsap.to("header", {
			scale: scale,
			y: -rect.top*0.8,
			duration: 0.1,
			ease:"power2.out"
			});
		}
		});
	}

	});

	const tl2 = gsap.timeline()
	ScrollTrigger.matchMedia({
	// Desktop
	"(min-width: 1024px)": () => {
		tl2.set("header",
		{
		opacity:1,
		xPercent: -40,
		yPercent: -40,
		scale: 0.3,
		duration:0.5,
		ease: "power2.out",
		scrollTrigger: {
				trigger: hero,
				start: 'top top',
				end: '+=300',
				scrub: true,
			}
		})

		ScrollTrigger.create({
		trigger: hero,
		start: "middle top",
		onLeaveBack: () => {
			gsap.to("header", {
			scale: scale,
			y: -rect.top*0.9,
			duration: 0.1,
			ease:"power2.out"
			});
		}
		});
	},
	// Mobile
	"(max-width: 1023px)": () => {
		tl1.set("header",
		{
		opacity:1,
		xPercent: -40,
		yPercent: -40,
		scale: 0.3,
		duration:0.5,
		ease: "power2.out",
		scrollTrigger: {
				trigger: hero,
				start: 'top top',
				end: '+=300',
				scrub: true,
			}
		})

		ScrollTrigger.create({
		trigger: hero,
		start: "middle top",
		onLeaveBack: () => {
			gsap.to("header", {
			scale: scale,
			y: -rect.top*0.8,
			duration: 0.1,
			ease:"power2.out"
			});
		}
		});
	}

	});

	window.addEventListener("load", () => {
		if (window.scrollY > 0) {
			tl0.progress(1);
			tl0.fromTo("header", 
			{
				opacity:0,
				scale:0.3,
			},
			
			{
				opacity:1,
				xPercent: -40,
				yPercent: -40,
				scale: 0.3,
				duration:0.1,
				ease:"power2.out"
			})
			tl1.progress(0);
		} else {
			tl0.progress(0);
			tl1.progress(0);
		}
		});
	
  })
</script>
