---
import "../styles/global.css";
import "../styles/index.css";

import { Image } from 'astro:assets'
import ganesh from '@/images/ganesh.png'
---
<!--<header
  data-header
  class="fixed inset-x-2 top-[calc(50%-10vh)] text-[15vw] md:text-[10vw] leading-none text-dark-brown z-50"
>
<div class="">
  <a href='#'><h1 class="text-center font-xl md:font-medium whitespace-normal md:whitespace-nowrap">MADISON <span class="block md:inline">AUBEY</span></h1></a>
</div>
</header>-->

<header
  data-header
  class="fixed bottom-10 left-0 w-screen h-screen flex items-center justify-center text-[10vw] text-white z-20"
>
  <h1 class="text-center text-white max-w-[12ch] md:max-w-none whitespace-nowrap">SAHIL & MADDY</h1>
	<div class="">
	<Image
				id="scroll-icon"
				class="fixed top-[85%] left-[47.5%] max-h-[10dvh] w-auto objects-contain opacity-bg-0 flex align-center invert"
				src={ganesh}
				alt=""
		/>
	</div>
</header>


<script>
  import { gsap } from 'gsap'
  import { ScrollTrigger } from 'gsap/ScrollTrigger'
  import { DOMLoaded } from '@/ts/events'

  DOMLoaded(() => {
    gsap.registerPlugin(ScrollTrigger)
    const hero = document.querySelector('[data-hero]') as HTMLElement
    const projects = document.querySelector('[data-projects]') as HTMLElement
    const header = document.querySelector('[data-header]') as HTMLElement
	const rect = header.getBoundingClientRect()

    const tl = gsap.timeline({
      scrollTrigger: {
        trigger: hero,
        start: 'top top',
        end: 'bottom top',
        scrub: true,
      },
    })

    const tl2 = gsap.timeline({
      scrollTrigger: {
        trigger: projects,
        start: 'top 5%',
        end: 'top -5%',
        scrub: true,
      },
    })

    tl.to(header, 
	{
	y:-400,
	opacity:0, 
	ease:"power2.out",
	scrub:true,
	duration: 0.5 
	})

    tl2.to(header, { color: '#022859', duration: 1 })
  })

  DOMLoaded(() => {
  const scrollIcon = document.getElementById("scroll-icon")!
  scrollIcon.addEventListener("click", () => {
	gsap.to(window, {
		duration: 0.6,
		scrollTo: {
		y: "#about-section",
		},
		ease: "power2.out"
		});
	});  
  });

	DOMLoaded(() => {
	gsap.registerPlugin(ScrollTrigger)
	const hero = document.querySelector('[data-hero]') as HTMLElement
	const projects = document.querySelector('[data-projects]') as HTMLElement
	const header = document.querySelector('[data-header]') as HTMLElement
	const scrollIcon = document.getElementById("scroll-icon")!
	const tl = gsap.timeline({
		scrollTrigger: {
		trigger: hero,
		start: 'top top',
		end: 'bottom top',
		scrub: true,
		},
	})

	tl.to(scrollIcon, 
	{ opacity:0,
	scrub:true,
	ease:'power2.out', 
	duration: 0.25 })

	})
</script>
