---
import TextReveal from '@/components/TextReveal.astro'
---

<section
  data-about
  class="flex bg-light-brown text-dark-brown min-h-screen"
>
<!--py-40 lg:py-52 xl:py-60 px-8 (old parameters in the above)-->
  <TextReveal
    class="text-3xl lg:text-4xl 2xl:text-5xl font-sans font-bold max-w-[60vw] leading-normal lg:leading-normal 2xl:leading-normal mx-auto my-auto"
    color="bg-gradient-to-r from-white to-white text-dark-brown"
  >
    Hi! I'm Maddy Aubey, an anthropology Ph.D. candidate at UCLA.
  </TextReveal>
</section>

<script>
  import { DOMLoaded } from '../ts/events'
  import { fadeOut } from '../ts/animations'

  DOMLoaded(() => {
    const trigger = document.querySelector('[data-about]') as HTMLElement
    const target = trigger.querySelector('p') as HTMLElement

    fadeOut(trigger, target)
  })
</script>
