---
import TextReveal from '@/components/TextReveal.astro'

import { Image } from 'astro:assets'

import "../styles/global.css";
import "../styles/index.css";
---

<section
  id="accommodation-info" 
  class="flex bg-dark-brown text-white min-h-screen w-full z-30"
>
	<h1>hello</h1>
</section>


