---
import { Image } from 'astro:assets'
import collage from '/src/images/collage.png'
---

<section
  data-skills
  class="relative bg-dark-brown w-full z-40"
>
  <Image
				class="w-full object-contain"
				src={collage}
				alt=""
		/>
</section>
