---
import "../styles/global.css";
import "../styles/index.css";

import { Image } from 'astro:assets'
import collage from '/src/images/collage.png'
---


<section data-hero class="">
	<div class="fixed inset-0 overflow-scroll items-center justify-center">
		<Image
			class="min-w-max min-h-max"
			src={collage}
			alt="collage of us!"
		>
  		<!--<img src="./src/images/collage.png" alt="" class="min-w-max min-h-max" />-->
	</div>
</section>
