---
import "../styles/global.css";
import "../styles/index.css";

import { Image } from 'astro:assets'
import faq from '/src/images/faq.jpg'
import travel from '/src/images/travel.png'
---

<section data-hero class="relative min-h-screen">
	<div class="absolute min-h-screen w-full">
		<Image
			class="absolute inset-0 w-full h-full object-cover"
			src={faq}
			alt=""
		/>
	</div>
	<div accommodation-header class="absolute inset-0 top-[5%] right-[5%] justify-right text-white text-[7w] opacity-1">
		<h4 class="text-[clamp(2rem,2.5vw,8rem)] md:min-w-max text-right font-text">
				<a href="../#about-section" class="not-italic hover:text-dark-brown hover:italic">home</a> | <a href="../travel/#data-hero" class="hover:text-dark-brown hover:italic">accommodations </a>& <a href="../travel/#data-travel" class="hover:text-dark-brown hover:italic">travel</a> | <a href="../schedule" class="hover:text-dark-brown hover:italic">schedule</a> | <a href="../FAQ" class="italic text-dark-brown hover:text-dark-brown hover:italic">FAQ </a> | <a href="../registry" class="hover:text-dark-brown hover:italic">registry</a>
		</h4>
		<h1 class="text-right align-right text-[7vw] md:max-w-none whitespace-nowrap">FREQUENTLY ASKED QUESTIONS</h1>
	</div>
</section>

<section
  accommodation-info
  class="flex bg-button text-white min-h-screen w-full z-30 items-center justify-center"
>
<div class="pt-10 pb-10 justify-center text-center max-w-[70vw]">
	<h1 class="text-[clamp(2rem,3vw,10rem)]">Where is this thing happening?</h1>
	<p class="italic font-text text-[clamp(1rem,1.5vw,8rem)]">Our venue is the <a class="hover:text-dark-brown underline" href="https://maps.app.goo.gl/NpX81suEdRtriGBG7">Overbrook House at Bay End Farm</a>, right by the entrance to Cape Cod (about an hour south of Boston). 
	The ceremony, cocktail hour, and reception will all take place outdoors so please wear comfy shoes for grass lawns and the dance floor! 
	And keep in mind, though it’s summer, the Cape can get chilly at night!
	</p>

	<h1 class="pt-6 text-[clamp(2rem,3vw,10rem)]">Where should I stay?</h1>
	<p class="italic font-text text-[clamp(1rem,1.5vw,8rem)]">See the Travel & Accommodations tab for information about a few hotel blocks we’ve set aside as well as suggestions for other accommodations in the area. 
	We recommend booking your accommodations as soon as possible as summer is peak season for the Cape!</p>

	<h1 class="pt-6 text-[clamp(2rem,3vw,10rem)]">Directions, Parking, & Shuttles</h1>
	<p class="italic font-text text-[clamp(1rem,1.5vw,8rem)]">Placeholder</p>

	<h1 class="pt-6 text-[clamp(2rem,3vw,10rem)]">What time should I arrive?</h1>
	<p class="italic font-text text-[clamp(1rem,1.5vw,8rem)]">Check our Schedule tab for a more detailed schedule of the afternoon, but the ceremony will begin around 3:30 PM, so please plan to arrive by 3:15 pm!</p>

	<h1 class="pt-6 text-[clamp(2rem,3vw,10rem)]">What should I wear?</h1>
	<p class="italic font-text text-[clamp(1rem,1.5vw,8rem)]">Formal attire is encouraged and Indian and/or Western clothing is welcomed — see [HERE] for a Pinterest board of sample outfits for inspiration! 
	Please keep in mind that red and white are colors reserved for the Bride and Groom. 
	If you’re looking to order some Indian clothes, we’d recommend [INSERT WEBSITE] and [INSERT WEBSITE] for affordable, nice options for men and women, respectively. 
	Feel free to reach out to Maddy or Sahil if you’re unsure about your outfit.
	</p>

	<h1 class="pt-6 text-[clamp(2rem,3vw,10rem)]">Dietary restrictions</h1>
	<p class="italic font-text text-[clamp(1rem,1.5vw,8rem)]">Placeholder </p>

	<h1 class="pt-6 text-[clamp(2rem,3vw,10rem)]">Can I bring a friend?</h1>
	<p class="italic font-text text-[clamp(1rem,1.5vw,8rem)]">We look forward to celebrating with our closest friends and family and thank you for understanding that we can only accommodate invited guests.</p>
	
	<h1 class="pt-6 text-[clamp(2rem,3vw,10rem)]">Children</h1>
	<p class="italic font-text text-[clamp(1rem,1.5vw,8rem)]">Placeholder </p>

	<h1 class="pt-6 text-[clamp(2rem,3vw,10rem)]">Registry/gifts</h1>
	<p class="italic font-text text-[clamp(1rem,1.5vw,8rem)]">Please see our <a class="hover:italic hover:text-dark-brown" href='../registry'>registry</a> page. </p>


</div>
</section>


<script>
  import { gsap } from 'gsap'
  import { ScrollTrigger } from 'gsap/ScrollTrigger'
  import { DOMLoaded } from '@/ts/events'

  DOMLoaded(() => {
    gsap.registerPlugin(ScrollTrigger)
    const header = document.querySelector('[accommodation-header]') as HTMLElement
    const hero = document.querySelector('[data-hero]') as HTMLElement
    const accommodation = document.querySelector('[data-hero]') as HTMLElement
    const accommodation_info = document.querySelector('[data-accommodation]') as HTMLElement
    const travel = document.querySelector('[travel-info]') as HTMLElement
    const travel_header = document.getElementById("travel-header")!

	const tl0 = gsap.timeline()
	tl0.set("header", {
	opacity:0
	})
	tl0.to("header", {
	opacity:1,
	duration:2.,
	ease:"power2.out"
	})

	const tl1 = gsap.timeline({
		scrollTrigger: {
		trigger: accommodation,
		start: 'top top',
		scrub:true,
		},
	})

	tl1.to("header", 
	{ opacity:0,
	ease:'power2.out', 
	duration: 0.5 })



})


</script>



