---
import "../styles/global.css";
import "../styles/index.css";

import { Image } from 'astro:assets'
import banff from '/src/images/banff.jpg'
import travel from '/src/images/travel.png'
---

<section data-hero class="relative min-h-screen">
	<div class="absolute min-h-screen w-full">
		<Image
			class="absolute inset-0 w-full h-full object-cover"
			src={banff}
			alt=""
		/>
	</div>
	<div accommodation-header class="absolute inset-0 top-[5%] right-[5%] justify-right text-dark-blue text-[7w] opacity-1">
		<h4 class="text-[clamp(2rem,2.5vw,8rem)] md:min-w-max text-right font-text">
				<a href="../#about-section" class="hover:text-button hover:italic">home</a> | <a href="../travel/#data-hero" class="hover:text-button hover:italic">accommodations </a>& <a href="../travel/#data-travel" class="hover:text-button hover:italic">travel</a> | <a href="../schedule" class="hover:text-button hover:italic">schedule</a> | <a href="../FAQ" class="hover:text-button hover:italic">FAQ </a> | <a href="../registry" class="text-button italic hover:text-button hover:italic">registry</a>
		</h4>
		<h1 class="text-right align-right text-[9vw] md:max-w-none whitespace-nowrap">REGISTRY</h1>
	</div>
</section>

<script>
  import { gsap } from 'gsap'
  import { ScrollTrigger } from 'gsap/ScrollTrigger'
  import { DOMLoaded } from '@/ts/events'

  DOMLoaded(() => {
    gsap.registerPlugin(ScrollTrigger)
    const header = document.querySelector('[accommodation-header]') as HTMLElement
    const hero = document.querySelector('[data-hero]') as HTMLElement
    const accommodation = document.querySelector('[data-hero]') as HTMLElement
    const accommodation_info = document.querySelector('[data-accommodation]') as HTMLElement
    const travel = document.querySelector('[travel-info]') as HTMLElement
    const travel_header = document.getElementById("travel-header")!

	const tl0 = gsap.timeline()
	tl0.set("header", {
	opacity:0
	})
	tl0.to("header", {
	opacity:1,
	duration:2.,
	ease:"power2.out"
	})

	const tl1 = gsap.timeline({
		scrollTrigger: {
		trigger: accommodation,
		start: 'top top',
		scrub:true,
		},
	})

	tl1.to("header", 
	{ opacity:0,
	ease:'power2.out', 
	duration: 0.5 })



})


</script>



