---
import "../styles/global.css";
import "../styles/index.css";

import { Image } from 'astro:assets'
import rsvp from '/src/images/lifting.jpg'
import travel from '/src/images/travel.png'

---

<section data-hero class="relative min-h-screen">
	<div class="absolute min-h-screen w-full">
		<Image
			class="absolute inset-0 w-full h-full object-cover"
			src={rsvp}
			alt=""
		/>
	</div>
	<div accommodation-header class="absolute inset-0 top-[5%] right-[5%] justify-right text-dark-blue text-[7w] opacity-1">
		<h4 class="text-[clamp(1.5rem,2.5vw,8rem)] md:text-[clamp(2rem,2.5vw,8rem)] md:min-w-max text-right font-text">
				<a href="../#about-section" class="not-italic hover:text-dark-brown md:hover:text-dark-brown md:hover:italic">home</a> | <a href="../travel/#data-hero" class="hover:text-dark-brown md:hover:text-dark-brown md:hover:italic">accommodations </a>& <a href="../travel/#data-travel" class="hover:text-dark-brown md:hover:italic">travel</a> | <a href="../schedule" class="hover:text-button md:hover:text-dark-brown md:hover:italic">schedule</a> | <a href="../FAQ" class="hover:text-button md:hover:text-dark-brown md:hover:italic">FAQ </a> | <a href="../registry" class="hover:text-button md:hover:text-dark-brown md:hover:italic">registry</a>
		</h4>
		<h1 class="text-right align-right text-[12vw] md:max-w-none whitespace-nowrap">RSVP</h1>
	</div>
</section>

<section
  accommodation-info
  class="flex flex-col bg-dark-blue text-white min-h-screen w-full z-30 items-center justify-center"
>
<div class="pt-10 pb-10 justify-center text-center text-[clamp(2rem,1.5vw,7rem)] max-w-[60vw]">
<h1 class="font-text text-center justify-center "> Please RSVP using the interactive window below. 
	If you are RSVPing for multiple guests, please type in your name, 
	then click accept or decline before adding other guests.

	If you experience any difficulties submitting an RSVP (e.g., your name is not recognized, etc.), please feel free to email us at 
	<a class="underline hover:text-light-brown" href="mailto:hegdesahil@gmail.com">hegdesahil@gmail.com</a>.
</h1>
</div>
<div class="pt-10 pb-10 justify-center text-center max-w-[90vw]">

<style>#onlineRSVP { width:10px; min-width:100%; }</style>
<!--<script src="https://www.online-rsvp.com/event/iframeResizer.min.js"></script>-->
<iframe class="border-4 w-[85vw] md:w-[50vw] h-[600px] md:h-[500px]" src="https://www.online-rsvp.com/event/index.php?event_id=27560&embed=1&token=1d77caf62374e4524ba243e2a9a519f7" title="Sahil & Maddy's Wedding">
</iframe><!--<script>iFrameResize({ log: true }, '#onlineRSVP')</script>-->
</div>

</section>


<script>
  import { gsap } from 'gsap'
  import { ScrollTrigger } from 'gsap/ScrollTrigger'
  import { DOMLoaded } from '@/ts/events'

  DOMLoaded(() => {
    gsap.registerPlugin(ScrollTrigger)
    const header = document.querySelector('[accommodation-header]') as HTMLElement
    const hero = document.querySelector('[data-hero]') as HTMLElement
    const accommodation = document.querySelector('[data-hero]') as HTMLElement
    const accommodation_info = document.querySelector('[data-accommodation]') as HTMLElement
    const travel = document.querySelector('[travel-info]') as HTMLElement
    const travel_header = document.getElementById("travel-header")!

	const tl0 = gsap.timeline()
	tl0.set("header", {
	opacity:0
	})
	tl0.to("header", {
	opacity:1,
	duration:2.,
	ease:"power2.out"
	})

	const tl1 = gsap.timeline({
		scrollTrigger: {
		trigger: accommodation,
		start: 'top top',
		scrub:true,
		},
	})

	tl1.to("header", 
	{ opacity:0,
	ease:'power2.out', 
	duration: 0.5 })



})


</script>



