---
import "../styles/global.css";
import "../styles/index.css";

import { Image } from 'astro:assets'
import egypt_schedule from '/src/images/egypt_schedule.jpg'
import travel from '/src/images/travel.png'
import soonCome from '/src/images/soon_come.jpg'

---


<section data-hero class="relative min-h-screen">
	<div class="absolute min-h-screen w-full">
		<Image
			class="absolute inset-0 w-full h-full object-cover"
			src={egypt_schedule}
			alt=""
		/>
	</div>
	<div accommodation-header class="absolute inset-0 top-[5%] right-[5%] justify-right text-light-brown text-[7w] opacity-1 pl-3 pr-3">
		<h4 class="text-[clamp(2rem,2.5vw,8rem)] md:min-w-max text-right font-text">
				<a href="../#about-section" class="hover:text-button md:hover:italic">home</a> | <a href="../travel/#data-hero" class="hover:text-button md:hover:italic">accommodations </a>& <a href="../travel/#data-travel" class="hover:text-button md:hover:italic">travel</a> | <a href="../schedule" class="text-button hover:text-button md:hover:italic"><i>schedule</i> </a> | <a href="../FAQ" class="hover:text-button md:hover:italic">FAQ </a> | <a href="../registry" class="hover:text-button md:hover:italic">registry</a>
		</h4>
		<h1 class="text-right align-right text-[9vw] md:max-w-none whitespace-nowrap">SCHEDULE</h1>
	</div>
</section>

<section
  schedule-info
  class="flex bg-light-brown text-white min-h-screen w-full z-30 items-center justify-center"
>
<div class="pt-10 pb-10 justify-center text-center max-w-[70vw]">
<!--<h1 class="text-[7vw]">TBA</h1>-->
<Image
				id="scroll-icon"
				class="max-h-[30dvh] w-auto objects-contain opacity-bg-0 flex align-center"
				src={soonCome}
				alt=""
		/>
</div>
</section>

<script>
  import { gsap } from 'gsap'
  import { ScrollTrigger } from 'gsap/ScrollTrigger'
  import { DOMLoaded } from '@/ts/events'

  DOMLoaded(() => {
    gsap.registerPlugin(ScrollTrigger)
    const header = document.querySelector('[accommodation-header]') as HTMLElement
    const hero = document.querySelector('[data-hero]') as HTMLElement
    const accommodation = document.querySelector('[data-hero]') as HTMLElement
    const accommodation_info = document.querySelector('[data-accommodation]') as HTMLElement
    const travel = document.querySelector('[travel-info]') as HTMLElement
    const travel_header = document.getElementById("travel-header")!

	const tl0 = gsap.timeline()
	tl0.set("header", {
	opacity:0
	})
	tl0.to("header", {
	opacity:1,
	duration:2.,
	ease:"power2.out"
	})

	const tl1 = gsap.timeline({
		scrollTrigger: {
		trigger: accommodation,
		start: 'top top',
		scrub:true,
		},
	})

	tl1.to("header", 
	{ opacity:0,
	ease:'power2.out', 
	duration: 0.5 })



})


</script>



