---
import Header from '@/components/Header.astro'
import "../styles/index.css";

interface Props {
  title: string
}
import { Image } from 'astro:assets'
import profile from '@/images/maddy.jpg'

const { title } = Astro.props
import About from '@/sections/About.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width initial-scale=1.0"/>
    <link rel="icon" type="images/svg+xml" href="../icons/maddy.svg" />
    <meta name="generator" content={Astro.generator} />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{title}</title>
  </head>
  <body class="relative">
    <Header />
	<div class="static bg-light-brown min-h-screen grid place-items-center">
		<div class="flex flex-col space-y-10 lg:space-y-2 lg:mt-20 justify-center items-center h-screen bg-opacity-0 z-30 max-w-[90vw] max-h-[90vh] lg:max-w-[50vw] lg:max-h-[50vh]">
			
			<Image
				class="mt-35 md:mt-20 lg:mt-15 bg-opacity-0 rounded-xl hero-image"
				src={profile}
				alt=""
			/>
		<!--<div class="spacer"/>-->
		<div class="hover:text-light-gray text-dark-brown transition-colors hero-email">
			<a href="mailto:madisonaubey@g.ucla.edu"><i class="fa fa-envelope" style="font-size:48px;"></i></a>
		</div>
		<div class="hover:text-light-gray text-dark-brown transition-colors hero-scroll">
			<i id="scrollIcon" class="fa fa-chevron-down" style="font-size:48px;"></i>
		</div>
	</div>
   </div>


   <slot />
  </body>
</html>

<script>
  import { gsap } from 'gsap'
  import { ScrollTrigger } from 'gsap/ScrollTrigger'
  import { DOMLoaded } from '@/ts/events'
  import { ScrollToPlugin } from "gsap/ScrollToPlugin";

  gsap.registerPlugin(ScrollToPlugin);

  gsap.from(".hero-image", {
  opacity: 0,
  scale: 0.25,
  duration: 0.5,
  delay:1.25,
  ease:'power2.out'
	});

  gsap.from(".hero-email", {
  opacity: 0,
  scale: 0.25,
  duration: 0.5,
  delay:1.25,
  ease:'power2.out'
	});

  gsap.from(".hero-scroll", {
  opacity: 0,
  scale: 0.25,
  duration: 0.5,
  delay:1.25,
  ease:'power2.out'
	});

  DOMLoaded(() => {
  const scrollIcon = document.getElementById("scrollIcon")!
  scrollIcon.addEventListener("click", () => {
	gsap.to(window, {
		duration: 0.6,
		scrollTo: {
		y: "#about-section",
		},
		ease: "power2.out"
		});
	});  
  });
</script>


<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Leckerli+One&family=Lilita+One&family=Outfit:wght@100..900&display=swap');
html {
    @apply scroll-smooth;
  }
  body {
    @apply font-sans;
  }

  h1 {
	@apply font-serif;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }

  p {
    @apply text-pretty;
  }
</style>
